.container {
    display: grid;
    border: 2px solid ;
    padding: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px auto;
    
}
.box {
    border: 1px solid;
    margin: 5px;
    padding: 20px;
    background-color: aqua;
}