.container {
    display: grid;
    border: 2px solid ;
    padding: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    
}
.box {
    border: 1px solid;
    margin: 5px;
    padding: 20px;
    background-color: aqua;
    grid-column: 1 / 3;
}
